
.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.font-medium {
    font-weight: 500;
    font-family:  Roboto Mono,monospace;
    font-size: 1.5rem;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.flex {
    display: flex;
}
.border-2 {
    border-width: 2px;
}
.border-solid {
    border-style: solid;
}
.border-gray-900 {
    --border-opacity: 1;
    border-color: #1a202c;
    border-color: rgba(26,32,44,var(--border-opacity));
}